@font-face {
    font-family: "Futura";
    src: asset-url('futura.eot?#iefix') format('embedded-opentype'),
       asset-url('futura.ttf') format('truetype'),
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Futura;
}

header { 
    background: #1E1E1E;
    color: white;
    display: flex;
    height: 10vh;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center;
}

/* Logo */
header img {
    width: 50px;
    height: 50px;
}

main {
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    min-height:80vh; 
}

section {
    padding: 10px;
}

footer {
    background: #8D7B54;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    padding: 5%;
}

h1 {
    text-align: center;
}

p{
    margin: 30px 0px 10px 0px;
}

footer a:link,
footer a:active,
footer a:visited {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}

/*  PRODUCT IMAGES */

.grid {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.product {
    width: 33%;
    height: 205px;
    margin: 3px;
}

.btn {
    background: #1E1E1E;
    color: white;
    text-decoration: none;
    font-family: "Futura";
    font-size: 14pt;
    font-style: italic;
    padding: 20px;
    margin: 5px;
}

#product1 {
    background:url("../img/4-week.png");
}
#product2 {
    background:url("../img/8-week.png");
}
#product3 {
    background:url("../img/12-week.png");
}

#product1,
#product2,
#product3 {
    background-size: cover;
    background-position: center;
}

#survey {
    text-align: center;
}

#home {
    text-align: center;
}